[submodule "vendor/CKRasterizerLib"]
	path = vendor/CKRasterizerLib
	url = https://github.com/doyaGu/CKRasterizerLib.git
[submodule "vendor/OpenGL-Registry"]
	path = vendor/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
